.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.loader {
	--dim: 150px;
	width: var(--dim);
	height: var(--dim);
	border: 7px solid #9f7b52;

	border-top-color: transparent;
	border-bottom-color: transparent;
	border-radius: 50%;
	animation: spin_51 1.5s infinite linear;
}

@keyframes spin_51 {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}