body {
    background-color: burlywood;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
}

@media (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center
    }
}